<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.livesoccer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/livesoccer"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.menu.livesoccer.MemuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="choixMatch.ChoixLeagueActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="configurationSon.ConfigurationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="historiqueMatch.HistoriqueActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="mesEquipesSuivies.EquipeSuivieActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="mesMatchAvenir.MatchAvenirActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="mesMatchEncours.MatchEncoursActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="choixMatch.ScottishLeagueActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="choixMatch.ScottishEquipeActivity"
            android:label="@string/app_name" >
        </activity>
        
         ScottishEquipeActivity
    </application>

</manifest>
